*{
    background-color: black;
/*change page colour to black */
}
h1{
padding-top: 300px;
padding-left: 600px;
font-size: 50px;
color: white;
/*positions and changes text colour to white*/
}
.button {
    position: relative;
    left: 30%;
    top:50px;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    align-content: center;
    
    font-size: 16px;
    margin: 10px 22px;
    cursor: pointer;
  }
  
  .button1 {background-color: #af4c4c;} 

  p{
    text-align: center;
    color: #af4c4c;
    padding-top: 300px;
    font-size: 50px;
  }
  